<web-app>

<welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>new</servlet-name>
<jsp-file>/UserJsp.jsp</jsp-file>
</servlet>
 
<servlet-mapping>
<servlet-name>new</servlet-name>
<url-pattern>/UserJsp</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>new2</servlet-name>
<jsp-file>/ItemJsp.jsp</jsp-file>
</servlet>
 
<servlet-mapping>
<servlet-name>new2</servlet-name>
<url-pattern>/ItemJsp</url-pattern>
</servlet-mapping>


</web-app>
